{% extends 'base.html.twig' %}

{% block title %}Ville de Saint-Nazaire
{% endblock %}

{% block body %}
	<main class="container my-5">

		{% for article in article %}
			<div style="background-image: url('{{ asset('uploads/photos/' ~ article.img) }}'); background-size: cover;" class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
				<div class="col-md-6 px-0 cardArticle">
					<h1 class="display-4 fst-italic p-3">{{ article.title }}</h1>
					<p class="lead my-3 p-3">{{ article.content|u.truncate(200, '...', false)}}</p>
					<p class="lead mb-0 p-3">
						<a href="{{ path('app_article_show', { id: article.id }) }}" class="text-white fw-bold">En lire plus...</a>
					</p>
				</div>
			</div>
		{% endfor %}

		<div class="row mb-2">
			{% for article in articles %}
				<a class="col-md-6" href="{{ path('app_article_show', { id: article.id }) }}">
					<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
						<div class="col p-4 d-flex flex-column position-static">
							<h3 class="mb-0">{{ article.title|u.truncate(30, '...', false)}}</h3>
							<div class="mb-1 text-muted">{{ article.createdAt ? article.createdAt|date('d-m-Y') : '' }}</div>
							<p class="card-text mb-auto">{{ article.content|u.truncate(100, '...', false)}}</p>
							
						</div>
						<div class="col-auto d-none d-lg-block">
							<img style="background-size: cover;" "background-position: center;" class="bd-placeholder-img imgLite" src="{{ asset('uploads/photos/' ~ article.img) }}" width="300" height="250"/>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>

	</main>
{% endblock %}
