{% extends 'base.html.twig' %}

{% block title %}Acceuil Administration
{% endblock %}

{% block body %}

	<div class="container py-5 mb-5">
		<div class="cardAdmin">
			<div class="container py-5">
				<h1 class="mb-3 text-center titleDashboard">Accueil Administration</h1>
				<div class="row d-flex justify-content-center">

					<div class="col-lg-8 mb-5">
						<h3 class="mb-3">Dernier articles ajouté :</h3>
						<table class="table table-light table-hover text-center align-middle">
							<thead>
								<tr>
									<th scope="col">Image</th>
									<th scope="col">Titre</th>
									<th scope="col">Auteur</th>
									<th scope="col">Date</th>
								</tr>
							</thead>
							<tbody>
								{% for article in article %}
									<tr>
										<td><img src="{{ asset('uploads/photos/' ~ article.img) }}" width="100"></td>
										<td>{{article.title|u.truncate(30, '...', false)}}</td>
										<td>{{article.user.lastname}}</td>
										<td>{{article.createdAt|date('d/m/Y')}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<a href="{{ path("app_article_index") }}" class="btn btn-primary">Gérer les articles</a>
					</div>

					<div class="col-lg-8 mb-5">
						<h3 class="mb-3">Dernier réseaux ajouté :</h3>
						<table class="table table-light table-hover text-center align-middle">
							<thead>
								<tr>
									<th scope="col">Nom</th>
									<th scope="col">Lien</th>
									<th scope="col">Image</th>
								</tr>
							</thead>
							<tbody>
								{% for social_network in social_networks %}
									<tr>
										<td>{{social_network.name}}</td>
										<td>{{social_network.link|u.truncate(30, '...', false)}}</td>
										<td><img src="{{ asset('uploads/photos/' ~ social_network.img) }}" width="100"></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<a href="{{ path("app_social_network_index") }}" class="btn btn-primary">Gérer les réseaux</a>
					</div>

					<div class="col-lg-8 mb-5">
						<h3 class="mb-3">Derniers messages reçus :</h3>
						<table class="table table-light table-hover text-center align-middle">
							<thead>
								<tr>
									<th scope="col">Nom</th>
									<th scope="col">Prénom</th>
									<th scope="col">Email</th>
									<th scope="col">Message</th>
								</tr>
							</thead>
							<tbody>
								{% for contact in contacts %}
									<tr>
										<td>{{contact.users.lastname}}</td>
										<td>{{contact.firstname}}</td>
										<td>{{contact.email}}</td>
										<td>{{contact.message|u.truncate(30, '...', false)}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<a href="{{ path("app_contact_index") }}" class="btn btn-primary">Gérer les messages</a>
					</div>


				</div>
			</div>
		</div>
	</div>
{% endblock %}
