{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
<section class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
    <h1 class="my-5">Contact index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse</th>
                    <th>Téléphone</th>
                    <th>Message</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.lastname }}</td>
                    <td>{{ contact.firstname }}</td>
                    <td>{{ contact.adress }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{contact.message|u.truncate(30, '...', false)}}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('app_contact_show', {'id': contact.id}) }}">Voir</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</section>
    

    
{% endblock %}
