<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<!--ICONS-->
		   <script src="https://kit.fontawesome.com/3c26004a01.js" crossorigin="anonymous"></script>
		<!-- CSS only -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
		<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet">
	</head>

	<body>
		<header>
			<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
				<div class="container-fluid">
					<a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarsExample02">
						<ul class="navbar-nav me-auto">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{ path('app_article_index') }}">Article</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{ path('app_social_network_index') }}">Social</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{{ path('app_contact_index') }}">Contact</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_admin') }}">Administration</a>
							</li>
						</ul>
						{% if is_granted("ROLE_ADMIN") %}
			    <li class="item-nav">
					<a href="{{ path('admin_home') }}">admin</a>
				</li>
				{% endif %}
				<li class="item-nav connexion-petit-ecran">
					{% if app.user %}
					<a href="{{ path('app_logout') }}">Déconnexion</a>
					{% else %}
					<a href="{{ path('app_login') }}">Connexion</a>
					{% endif %}
				</li>
					</div>
				</div>
			</nav>
			{% block body %}{% endblock %}


			<div class="container">
				<footer class="py-3 my-4">
					<ul class="nav justify-content-center border-bottom pb-3 mb-3">
						<li class="nav-item">
							<a href="#" class="nav-link px-2 text-muted">Home</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link px-2 text-muted">Features</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link px-2 text-muted">Pricing</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link px-2 text-muted">FAQs</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link px-2 text-muted">About</a>
						</li>
					</ul>
					<p class="text-center text-muted">&copy; 2022 Company, Inc</p>
				</footer>
			</div>
		</body>


		<!--SCRIPTS ===========================================================-->
		<!-- JavaScript Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

		<!--SCRIPTS ===========================================================-->
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	</body>
</html>
